
{% extends 'base.html' %}
{% load staticfiles %}

{% block custom_css %}
    <style>
        .card.card-cascade .view.gradient-card-header {
            padding: 1.1rem 1rem;
        }
        .card.card-cascade .view {
            box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.2), 0 2px 8px 0 rgba(0, 0, 0, 0.19);
        }
    </style>
{% endblock %}

{% if user.is_authenticated %}

{% block body %}
    <br><br><br>
    <main>
        <div class="container">

            <!-- Section: Edit Account -->
            <section class="section">
                <!-- First row -->
                <div class="row h-75">
                    <!-- First column -->
                    <div class="col-lg-4 mb-4">

                        <!--Card-->
                        <div class="card card-cascade narrower">

                            <!--Card image-->
                            <div class="view view-cascade gradient-card-header mdb-color lighten-3">
                                <h5 class="mb-0 font-weight-bold">Edit Photo</h5>
                            </div>
                            <!--/Card image-->

                            <!-- Card content -->
                            <div class="card-body card-body-cascade text-center">
                                <img src="{{ user.image_url }}" alt="User Photo" class="img img-fluid img-thumbnail z-depth-1 mb-3 mx-auto" onclick="document.getElementById('my_file').click()">
                                 <p class="text-muted"><small>Click Image to upload photo</small></p>
                                <div class="row flex-center">
                                    <form method="post" enctype="multipart/form-data" action="{% url 'edit_profile' %}">
                                        {% csrf_token %}
                                        <input type="file" id="my_file" style="display: none;" name="image">
                                        <button  type="submit"  class="btn btn-info btn-rounded btn-sm">Upload Photo</button>
                                    </form>
                                </div>
                                </div>
                            <br>
                            </div>
                            <!-- /.Card content -->

                        </div>
                        <!--/.Card-->

                    <!-- /.First column -->
                    <!-- Second column -->
                    <div class="col-lg-8 mb-4">

                        <!--Card-->
                        <div class="card card-cascade narrower">

                            <!--Card image-->
                            <div class="view view-cascade gradient-card-header mdb-color lighten-3">
                                <h5 class="mb-0 font-weight-bold">Edit Account </h5>
                            </div>
                            <!--/Card image-->

                            <!-- Card content -->
                            <div class="card-body card-body-cascade text-center">
                                <!-- Edit Form -->
                                <form method="post" action="{% url 'edit_profile' %}">
                                    {% csrf_token %}
                                    <!--First row-->
                                    <div class="row">
                                        <!--First column-->
                                        <div class="col-md-6">
                                            <div class="md-form mb-0">
                                                <input type="text" id="form1" class="form-control" value="{{user.username}}" name="username" disabled>
                                                <label for="form1" data-error="wrong" data-success="right">Username</label>
                                            </div>
                                        </div>
                                        <!--Second column-->
                                        <div class="col-md-3">
                                            &nbsp;
                                        </div>
                                        <!--Third column-->
                                        <div class="col-md-3">
                                            <a class="btn-floating btn-sm btn-outline-cyan"><i class="fa fa-edit"></i> password</a>
                                        </div>
                                    </div>
                                    <!--First row-->
                                    <div class="row">
                                        <!--First column-->
                                        <div class="col-md-6">
                                            <div class="md-form mb-0">
                                                <input type="email" id="form21" class="form-control" value="{{user.email}}" name="email" disabled>
                                                <label for="form21">Email</label>
                                            </div>
                                        </div>
                                        <!--Second column-->
                                        <div class="col-md-6">
                                            <div class="md-form mb-0">
                                                <input type="text" id="form22" class="form-control" value="{{ user.registration_number }}" name="registration_number">
                                                <label for="form22">Registration Number</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!--First row-->
                                    <!--First row-->
                                    <div class="row">
                                        <!--First column-->
                                        <div class="col-md-6">
                                            <div class="md-form mb-0">
                                                <input type="text" id="form81" class="form-control" name="first_name" value="{{ user.first_name }}">
                                                <label for="form81" data-error="wrong" data-success="right">First name</label>
                                            </div>
                                        </div>
                                        <!--Second column-->
                                        <div class="col-md-6">
                                            <div class="md-form mb-0">
                                                <input type="text" id="form82" class="form-control" name="last_name" value="{{ user.last_name }}">
                                                <label for="form82" data-error="wrong" data-success="right">Last name</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.First row-->
                                    <!--Third row-->
                                    <div class="row">
                                        <!--First column-->
                                        <div class="col-md-12">
                                            <div class="md-form mb-0">
                                                <textarea type="text" id="form78" class="md-textarea form-control" rows="3" name="bio" placeholder="{{ user.bio }}"></textarea>
                                                <label for="form78">About me</label>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/.Third row-->
                                    <!-- Fourth row -->
                                    <div class="row">
                                        <div class="col-md-12 text-center my-4">
                                            <input type="submit" value="Update Account" class="btn btn-info btn-rounded">
                                        </div>
                                    </div>
                                    <!-- /.Fourth row -->
                                </form>
                                <!-- Edit Form -->
                            </div>
                            <!-- /.Card content -->

                        </div>
                        <!--/.Card-->
                    </div>
                    <!-- /.Second column -->
                </div>
                <!-- /.First row -->
            </section>
            <!-- /.Section: Edit Account -->

        </div>
    </main>
{% endblock %}

{% endif %}

{% block custom_script %}
    <script>
        var container = document.querySelector('.custom-scrollbar');
        Ps.initialize(container, {
            wheelSpeed: 2,
            wheelPropagation: true,
            minScrollbarLength: 20
        });
    </script>
{% endblock %}