{%  extends 'base.html' %}
{% block custom_css %}
    <style>
    .reply-count{
        background-color: #63b1c5;
        padding: 0px 10px;
        margin-left: 10px;
        border-radius: 10px;
        color: white;
    }
    #snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    right:0;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

    </style>
{% endblock %}
{%  block body %}



    <div class="container">

        <br>
        <br>
        <h1 style="text-align: center">Add Questions</h1>
     <div class="card">

           <div class="card-header row" style="text-align: center">
            <div class="col-md-8 col-4 text-muted" style="font-size: x-large;">{{quiz_data.quiz_name }}</div>
            <div class="col-md-4 col-4">
                <div class="dropdown">
                  <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Add Fields
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" id="add_image" onclick="add_image()">Add Image</a>
                    <a class="dropdown-item" id="add_code" onclick="add_code()">Add Code</a>
                    <a class="dropdown-item" id="reset_form" onclick="reset_all()">Reset Form</a>
                  </div>
                </div>
            </div>
           </div>
         <div class="card-body">

             <form method="POST" action="" id="question_form" enctype="multipart/form-data">

                 {% csrf_token %}

  <div class="form-group get_csrf" csrf="{{ csrf_token }}">
    <label >Question</label>
      <textarea type="email" class="form-control" id="question"></textarea>
  </div>
  <div class="form-group">
    <label>Type</label>
    <select class="form-control" id="typelist">
        <option value="">Select</option>
      <option value="s">Subjective</option>
      <option value="m">Single-Correct</option>
      <option value="o">Multiple-Correct</option>
    </select>
  </div>
    <div class="form-group" id="image_div" style="display: none;">
        <label for="image">Upload Image if necessary</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
          </div>
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="image">
            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
          </div>
        </div>
    </div>
     <div class="form-group" id="code_div" style="display: none;">
        <label for="code">Code if any</label>
        <textarea class="form-control" id="code" rows="3" name="code"></textarea>
     </div>
 <div class="form-group single-correct" style="display: none">
    <label for="option_a">Option A</label>
      <input type="text" class="form-control" id="option_a" >

  </div>
     <div class="form-group single-correct" style="display: none">
    <label for="option_b" >Option B</label>
      <input type="text" class="form-control" id="option_b">

  </div>
                 <div class="form-group single-correct" style="display: none">
    <label for="option_c">Option C</label>
      <input type="text" class="form-control" id="option_c">

  </div>
                   <div class="form-group single-correct" style="display: none">
    <label for="option_d">Option D</label>
      <input type="text" class="form-control" id="option_d">

  </div>
  <div class="form-group single-correct" style="display: none;">
    <label for="obj_ans">Correct Answer</label>
      <input type="text" class="form-control" id="obj_ans" placeholder="Use comma to separate multiple answers">

  </div>
  <div class="form-group subjective" style="display: none">
    <label for="sub_ans">Correct Answer</label>
    <textarea class="form-control" id="sub_ans" rows="3"></textarea>
  </div>

           <div class="form-group" >
    <label for="levellist">Level</label>
    <select class="form-control" id="levellist">
        <option value="">Select</option>
      <option value="e">Easy</option>
      <option value="m"> Medium</option>
      <option value="h">Hard</option>
    </select>
  </div>

                   <div class="form-group">
    <label for="marks">Marks</label>
      <input type="number" class="form-control col-3" value="4" id="marks">
  </div>
                   <div class="form-group">
    <label for="time">Time Limit</label>
      <input type="number" class="form-control col-3" id="time" value="3600" placeholder="In Seconds">

  </div>


</form>
         </div>
<div style="text-align: left;padding-left: 20px;">
             <h3><b>Questions Added:</b><span class="reply-count" id="ques_count"></span></h3>
         </div>
         <div style="text-align: right">
         <button class="btn btn-primary" id="add">Add</button>
          </div>

     </div>
        <br>
        <div style="text-align: center">
            <form action="{% url 'finish' %}">
         <button class="btn btn-default"> Finish </button>
            </form>
              </div>
        <br>
        <br>
        <hr>

    </div>

        <div id="snackbar">Question submitted successfully!</div>


{% endblock %}
{% block  custom_script %}

<script>

   var ques_count=0;
    $('#typelist').change(function(){

       var value = $(this).val();
       if(value=='m')
       {
           $(".single-correct").css("display", "block");
           $(".subjective").css("display", "none");
       }
       else if(value=='s')
       {
           $(".subjective").css("display", "block");
           $(".single-correct").css("display", "none");
       }
       else if(value=='o')
       {
           $(".single-correct").css("display", "block");
           $(".subjective").css("display", "none");
       }

    });

function snackBar() {
    var x = document.getElementById("snackbar");
    x.className = "show";
    setTimeout(function(){ x.className = x.className.replace("show", ""); }, 3000);
}

function add_image() {
    $('#image_div').css("display", "block");
}

function add_code() {
    $('#code_div').css("display", "block");
}

function clear_form() {
    document.getElementById("question_form").reset();
}

function reset_all() {
    clear_form();
    $(".single-correct").css("display", "none");
    $(".subjective").css("display", "none");
    $('#image_div').css("display", "none");
    $('#code_div').css("display", "none");
}

$('#inputGroupFile01').on('change',function(){
                //get the file name
                var fileName = $(this).val();
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
            })

  $(document).on("click","#add",function(e) {
    e.preventDefault();
    var csrf = $(".get_csrf").attr("csrf");
    var type = $("#typelist").val();
    var marks = $("#marks").val();
    var  time = $("#time").val();
    var level = $("#levellist").val();
    var option_a = $("#option_a").val();
    var option_b = $("#option_b").val();
    var option_c = $("#option_c").val();
    var option_d = $("#option_d").val();
    var obj_ans = $("#obj_ans").val();
    var sub_ans = $("#sub_ans").val();
    var question = $("#question").val();
    var code = $("#code").val();


    $.ajax({
      url: '{% url 'add_questions' quizid=quiz_data.quiz_id %}',
      data: {
        type:type,
        time_limit:time,
        question : question,
        level :level,
        marks: marks,
        option_a:option_a,
        option_b:option_b,
        option_c:option_c,
        option_d:option_d,
        correct:obj_ans,
        subjective_answer:sub_ans,
        code:code,
        csrfmiddlewaretoken: csrf
      },
      type: "post",
      cache: false,
      beforeSend: function() {

      },
      success: function(data) {
          // On Successful submission of Quiz, Show a snackbar
          // Clear form Data
          // Reset form to initial state
        ques_count =ques_count+1;

        $("#ques_count").html(ques_count);
        snackBar();
        reset_all();
      }
    });
  });

</script>


{% endblock %}