{% extends 'base.html' %}
{% load staticfiles %}
{% block custom_css %}


   <link rel="stylesheet" href="{% static 'css/button.css' %}">
   <link rel="stylesheet" href="{% static 'css/table.css' %}">

{% endblock %}
{% block body %}
<div class="container-fluid">

    <div class="flex">
        <a href="{% url 'create_quiz' %}" class="bttn">Start Quiz</a>
      <a href="{% url 'create_quiz' %}" class="bttn">Create Quiz</a>
   </div>

    <hr>

    <div class="row justify-content-center">
    <div class="col-lg-8  col-sm-11 col-md-8 m-5">
    <div class="table100 ver2 m-b-110">
					<div class="table100-head">
						<table>
							<thead>

								<tr class="row100 head">
									<th class="cell100 column1">Quiz</th>
									<th class="cell100 column2">Date</th>
									<th class="cell100 column4">Quiz-master</th>
									<th class="cell100 column5">Add</th>
                                    <th class="cell100 column3">Grade</th>
								</tr>
							</thead>
						</table>
					</div>

					<div class="table100-body js-pscroll">
						<table>
							<tbody>
                              {% for obj in quiz_object %}
								<tr class="row100 body">
                                    <td class="cell100 column1"><a href="{% url 'edit_quiz' obj.quiz_id  %}">{{ obj.quiz_name }}</a></td>
									<td class="cell100 column2">{{ obj.quiz_time.date }}</td>
									<td class="cell100 column4">{{ obj.quizmaster }}</td>
									<td class="cell100 column5"><a href="{% url 'add_questions' obj.quiz_id  %}">Add More Questions!</a></td>
                                    <td class="cell100 column3"><a href="{% url 'grader' obj.quiz_id  %}">Grade this Quiz</a></td>
								</tr>
                              {% endfor %}


							</tbody>
						</table>
					</div>
				</div>
    </div>
    </div>

</div>
{% endblock %}

{% block custom_script %}

{% endblock %}