{% extends "base.html" %}

{% block body %}
<div class="container p-5">
<div class="card">
  <div class="card-header">
    Can't remember the password?
  </div>
  <div class="card-body">
        <p class="card-text">Don't worry. We've got you covered.</p>
        <div class="container p-3">
          <h3>Forgot password</h3>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
          </form>
        </div>
    </div>
  </div>
</div>

{% endblock %}